<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color: blue">Log-in de usuario</h1>
        <br />
        <form action="" method="get">
            <div class="form-group">
                <label for="nombre"><b>Ingrese su nombre</b></label>
                <input id="nombre" class="form-control" type="text" name="nombre" />
            </div>
            <button class="btn btn-success mt-3 mb-5">Send</button>
        </form>
</div>